.container {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
}

h2 {
    font-weight: bold;
    font-size: 2rem;
    color: #343a40;
    text-align: center;
    margin-bottom: 20px;
}

body.dark h2 {
    color: var(--text-color);
}

p {
    font-weight: bold;
    color: #343a40;
}

body.dark p {
    color: var(--text-color);
}

.form-label {
    font-weight: bold;
    color: #343a40;;
}

body.dark .form-label {
    color: var(--text-color);
}

.form-control {
    border-radius: 5px;
    border: 1px solid #ced4da;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.form-control:focus {
    border-color: #80bdff;
    box-shadow: 0 0 5px rgba(128, 189, 255, 0.5);
}

.text-danger {
    font-size: 0.9rem;
    margin-top: 5px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}