<nav>
    <div class="nav-bar">
        <i class='bx bx-menu sidebar-open'></i>
        <span class="logo nav-logo"><a href="#">Synk</a></span>

        <div class="menu">
            <div class="logo-toggle">
                <span class="logo"><a href="#">Synk</a></span>
                <i class='bx bx-x sidebar-close'></i>
            </div>

            <ul class="nav-links">
                <li><a href="/" class="nav-link">Home</a></li>
                <li><a href="/register" class="nav-link">Sign up</a></li>
                <li><a href="/Synk/frontend/templates/sub.html" class="nav-link">Sub</a></li>
            </ul>
        </div>

        <div class="darkLight-searchBox">
            <div class="dark-light">
                <i class='bx bx-moon moon'></i>
                <i class='bx bx-sun sun'></i>
            </div>

            <div class="searchBox">
                <div class="searchToggle">
                    <i class='bx bx-x cancel'></i>
                    <i class='bx bx-search search'></i>
                </div>
                <div class="search-field">
                    <input type="text" placeholder="Search...">
                    <i class='bx bx-search'></i>
                <div>
            </div>
        </div>
    </div>
</nav>