{% extends "base.html" %}


{% block content %}
  <div class="card mb-3" style="max-width: 200000;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{post.file_path }}" class="img-fluid rounded-start" alt="">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{post.title}}</h5>
          <p class="card-text">{{post.content}}</p>
          <p class="card-text"><small class="text-body-secondary">{{post.pub_date}}</small></p>
          <a href="/users/{{post.user_id}}" class="btn btn-primary">Author:{{user.name}}</a>
          <a href="#" class="btn btn-primary">Edit</a>
          <a href="#" class="btn btn-primary">Delete</a>
        </div>
      </div>
    </div>
  </div>
  <form>
    <div class="mb-3">
      <label for="writecomment" class="form-label">Write comment</label>
      <input type="text" class="form-control" id="writecomment" aria-describedby="comment ...">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>  
  
  {% if comments %}
  {% for comment in comments %}
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-8">
        <div class="card-body">
          <p class="card-text">{{comment.content}}</p>
          <a href="/users/{{comment.user_id}}" class="btn btn-primary">Author</a>
          <a href="#" class="btn btn-primary">Edit</a>
          <a href="#" class="btn btn-primary">Delete</a>
        </div>
      </div>
    </div>
  </div>
  {% else %}
  
  {% endfor %}
  {% endif %}
{% endblock %}