{% extends "base.html" %}

{% block title %}Create post{% endblock %}

{% block content %}

<h2>{{action}} a Post</h2>
<div class="container mt-5">
<form method="{{method}}" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    
    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        {{ form.title(class="form-control") }}
    </div>

    
    <div class="mb-3">
        <label for="content" class="form-label">Content</label>
        {{ form.content(class="form-control") }}
    </div>

    {% if form.image %}
    <div class="mb-3">
        <label for="image" class="form-label">Upload Image</label>
        {{ form.image(class="form-control") }}
    </div>
    {% else %}
    {% endif %}
    <button type="submit" class="btn btn-primary">{{action}} Post</button>
</form>
</div>
{% endblock %}
