{% extends "base.html" %}


{% block content %}
<h2>Nickname:{{user.name}}</h2>
<h2>{{user.bio}}</h2>

<div class="container mt-5">
<a href="{{ url_for('get_subscribers', id=user.id) }}" class="btn btn-info">Subscribers</a>
<a href="{{ url_for('get_subscriptions', id=user.id) }}" class="btn btn-primary">Subscriptions</a>
<a href="{{ url_for('subscribe', id=user.id) }}" class="btn btn-success">Subscribe</a>
<a href="{{ url_for('unsubscribe', id=user.id) }}" class="btn btn-danger">Unsubscribe</a>

<a href="{{ url_for('edit_user_page', id=user.id) }}" class="btn btn-warning">Edit Profile</a>
<a href="{{ url_for('delete_user_posts', id=user.id) }}" class="btn btn-danger">Delete all posts</a>
</div>
    
{% if posts %}
<div class="container">
    <h2>Posts</h2>
    {% for post in posts %}
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{{ post.file_path }}" class="img-fluid rounded-start" alt="Image for {{ post.title }}">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <a href="{{ url_for('see_one_post', id=post.id) }}" class="card-title">{{ post.title }}</a>
                    <p class="card-text">{{ post.content }}</p>
                    <p class="card-text">
                        <small class="text-body-secondary">
                            Posted on {{ post.pub_date }}
                        </small>
                    </p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
{% endblock %}