{% extends "base.html" %}


{% block content %}
<h1>Nickname:{{user.name}}</h1>
<h2>{{user.bio}}</h2>


<a href="#">Subscribers</a>
<a href="#">Subscriptions</a>
<button>Subscribe</button>
<button>Unsubscribe</button>

<a href="{{ url_for('create_post_page') }}" class="btn btn-secondary">Create Post</a>

    
{% if posts %}
<div class="container">
    <h1>Posts</h1>
    {% for post in posts %}
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{{ post.file_path }}" class="img-fluid rounded-start" alt="Image for {{ post.title }}">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <a href="{{ url_for('see_one_post', id=post.id) }}" class="card-title">{{ post.title }}</a>
                    <p class="card-text">{{ post.content }}</p>
                    <p class="card-text">
                        <small class="text-body-secondary">
                            Posted on {{ post.pub_date }}
                        </small>
                    </p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
{% endblock %}